/* base styling */
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
}

html{
    scroll-behavior: smooth;
}

body{
    background: white;
}

section{
    padding: 2rem 9%;
}

.heading{
    position: relative;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: #BA3F1D;
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin: 0.5rem;
    border-bottom: 0.2rem solid #BA3F1D;
    top: 100px;
}
/* end base */

/* carousel content*/
section{
    padding: 2rem 9%;
}

.banner{
    position: relative;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(Assets/beef-mazemen.jpg);
    background-position: center;
    background-size: cover;
}

.banner .content{
    max-width: 100%;
}

.banner .content h3{
    font-size: 6rem;
    color: white;
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin-bottom: 3rem;
    border-bottom: 0.7rem solid #BA3F1D;
}

.banner .content span{
    font-size: 3.5rem;
    color: #D9CFC1;
    padding: 1rem 0;
    line-height: 1.5;
}

.button{
    display: inline-block;
    padding: 0.9rem 3rem;
    font-size: 1.7rem;
    /* font-weight: 600; */
    cursor: pointer;
    color: #fff;
    text-transform: none;
    /* border: 0.1rem solid #BA3F1D; */
    border-radius: 2rem;
    margin-top: 2rem;
    margin-right: 2rem;
    background: #BA3F1D;
    transition: 0.2s;
}

.button:hover{
    background: #fff;
    color: #BA3F1D;
    /* font-weight: 600; */
}
/* carousel content ends */

/* rec menu starts */
.menu .container{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    margin-bottom: 3rem;
}

.menu .container p{
    position: relative;
    top: 130px;
    font-size: 2rem;
    color: black;
    padding: 1rem 5%;
}
/* rec menu ends */

/* navbar styling */
header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background: #BA3F1D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.logo{
    margin: 2rem;
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
}

.ham-menu{
    display: none
}

.navbar ul{
    display: flex;
}

.navbar ul li a{
    font-weight: 700;
    display: block; 
    color: #fff;
    font-size: 1.3rem;
    padding: 20px 27px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 10px;
}

.navbar ul li a:hover{
    font-weight: 700;
    color: #BA3F1D;
    background: #fff;
}

.navbar ul li a.active{
    font-weight: 700;
    color: #BA3F1D;
    background: #fff;
}
/* navbar ends */


/* footer styling */
.footer{
    position: relative;
    top: 150px;
    background-color: #BA3F1D;
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.footer .box-container .box{
    position: relative;
    flex: 1 1 15rem;
    padding-bottom: 1rem;
}

.footer .box-container .box h3{
    color: white;
    font-size: 2rem;
    padding: 1rem 0;
    margin-bottom: 1rem;
    border-bottom: 0.2rem solid #fff;
}

.footer .box-container .box a{
    display: block;
    color: white;
    font-size: 1rem;
    padding: 0.5rem 0;
}

.footer .box-container .box a:hover{
    color: #EEE3AB;
    text-decoration: underline;
}

.footer .copyright{
    position: relative;
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    font-size: 1.2rem;
    color: white;
    border-top: 0.1rem solid white;
}

.footer .copyright span{
    color: #EEE3AB;
}
/* footer ends */

/* media styling */
@media(max-width: 1400px){
    header{
        padding: 0 20px;
    }
}

@media(max-width: 1180px){
    header{
        padding: 0 30px;
    }

    .ham-menu{
        display: block;
        cursor: pointer;
    }

    .ham-menu .line{
        width: 30px;
        height: 3px;
        background: white;
        margin: 6px 0;
    }

    .navbar{
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #BA3F1D;
        transition: 0.2s;
        overflow: hidden;
    }

    .navbar.active{
        height: 550px;
    }

    .navbar ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .navbar.active ul{
        opacity: 1;
    }

    .navbar ul li a{
        margin-bottom: 20px;
    }
}
/* navbar ends */

@media(max-width: 768px){
    /* footer styling */
    .footer .box-container{
        gap: 1rem;
    }

    .footer .box-container .box{
        flex: 1 1 10rem;
    }

    .footer .box-container .box h3{
        font-size: 1.5rem;
    }

    .footer .box-container .box a{
        font-size: 0.8rem;
    }

    .footer .copyright{
        font-size: 1rem;
    }
    /* footer ends */
}
/* media styling ends*/